---
import PageLayout from "../../layouts/PageLayout.astro";
import { getPosts, type Post } from "../../lib/contentful/posts";
import { mdConverter } from "../../lib/showdown";
import { generateAsciiArt } from "../../lib/ascii";

import FormattedDate from "../../components/FormattedDate.astro";
import ArticleContainer from "../../components/ArticleContainer.astro";

export async function getStaticPaths() {
	const posts = await getPosts(true);
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

type Props = Post;
const post = Astro.props;

const asciiTitle = await generateAsciiArt(post.title);
---

<PageLayout title={post.title} description={post.previewText} loadHjsStyles>
  <ArticleContainer>
    <div class="title-container">
       <div class="title">
        {asciiTitle.map((word) => (
          <pre>{word}</pre>
        ))}
       </div>
      <p class="publish-details">Written by Max Maeder <span class="interpunct">·</span> Published <FormattedDate date={post.date} /></p>
    </div>
    <article set:html={mdConverter.makeHtml(post.content)} />
  </ArticleContainer>
</PageLayout>

<style>
  .title-container {
    border: 2px solid var(--border-primary-color);
    padding: 2rem;
    margin: 2rem 0;
  }
  .title {
    display: flex;
    flex-wrap: wrap;
  }
  .title pre {
    font-size: 0.3rem;
    font-family: monospace;
  }
  .publish-details {
    display: block;
    margin-top: 0.75rem;
  }
  article {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    overflow-x: hidden;
  }
  @media (max-width: 799px) {
    .title-container {
      border: 2px solid var(--border-primary-color);
      padding: 1rem;
      margin: 1rem 0;
    }
    .title pre {
      font-size: 0.18rem;
    }
    .interpunct { 
      display: block;
      width: 100%;
      height: 0.1rem;
      visibility: hidden;
    }
	}
</style>

<style is:global>
  article pre {
    border: 1px solid var(--border-code-color);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    overflow: auto;
  }
  article pre, article pre code {
    background: var(--bg-code-color) !important;
  }

  article code:not(pre code) {
    color: var(--text-code-color);
    background-color: var(--bg-code-color);
    border: 1px solid var(--border-code-color);
    border-radius: 4px;
    padding: 2px;
    margin: 1px 0;
    line-height: 2;
  }

  article code, article code * {
    font-family: monospace;
  }

  article table {
    display: inline-block;
    border-collapse: collapse;
  }
  article table th, article table td {
    padding: 0.5rem 1rem;
    border: 1px solid var(--border-code-color);
  }
</style>